@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Nunito:100,300,400,700');

html, body {
    color: #3D4051;
    font: 16px/1.5 'Source Sans Pro', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    /* background: #e9eef1 url("../img/bg_wave3.png") top center no-repeat; */
    /* background: rgba(18, 24, 87, 1) url("../img/bg_wave2.png") top center no-repeat; */
    /* background: rgba(245, 249, 255, 1) url("../img/bg_wave4.png") top center no-repeat;
    background-size: 100%;
    background-attachment: fixed; */
}
@media (max-width: 767px) {
    body {
        /* background-size: cover; */
    }
}
.colorblend {
    /* background: url("../img/bg_wave6.png") center bottom no-repeat, linear-gradient(270deg, #c82f3f, #316bae, #309d81); */
    background: linear-gradient(270deg, #c82f3f, #316bae, #309d81);
    background-size: 300% 300%;
    /* background-attachment: fixed; */

    -webkit-animation: AnimationName 120s ease infinite;
    -moz-animation: AnimationName 120s ease infinite;
    animation: AnimationName 120s ease infinite;
}
.noscroll {
    overflow: hidden;
}
.fa-btc {
    color: #6e707d;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.wrapper {
    background: url("../img/bg_wave6.png") center 88px no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* height: 100%; */
    /* overflow: auto; */
}
@media (max-width: 767px) {
    .wrapper {
        background: url("../img/bg_wave6.png") center 88px no-repeat;
        background-size: auto;
        background-attachment: fixed;
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

h1 {
    color: #fff;
    font-size: 44px;
    font-weight: 100;
    font-family: 'Nunito';
    letter-spacing: 4px;
    margin: 24px 0;
    text-transform: uppercase;
}
@media (max-width: 960px) {
    h1 {
        font-size: 60px;
    }
}
@media (max-width: 767px) {
    h1 {
        font-size: 48px;
    }
}
@media (max-width: 480px) {
    h1 {
        font-size: 34px;
    }
}

h2 {
    font-size: 16px;
    font-weight: 100;
    font-family: 'Nunito';
    letter-spacing: 4px;
    text-transform: uppercase;
}

a {
    color: #009663;
    cursor: pointer;
    /* text-decoration: none; */
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #888;
}

label {
    color: #888;
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}


/* header */

.header {
    padding-top: 64px;
    text-align: center;
}
.header p {
    color: #fff;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    width: 50%;
}
.header a {
    color: rgba(255,255,255,0.8);
    font-weight: 700;
}
.header a:hover {
    color: rgba(255,255,255,1);
}
.header img {
    width: 64px;
}
@media (max-width: 960px) {
    .header {
        padding-top: 32px;
    }
    .header p {
        width: 75%;
    }
}
@media (max-width: 767px) {
    .header p {
        font-size: 15px;
        width: 80%;
    }
    .header img {
        width: 48px;
    }
}
@media (max-width: 480px) {
    .header {
        padding-top: 24px;
    }
    .header p {
        margin-bottom: 16px;
    }
    .header img {
        width: 40px;
    }
}


/* content */

.content {
    margin-top: 16px;
}
@media (max-width: 480px) {
    .content {
        margin-top: 24px;
    }
}


/* content cards */

.project {
    -o-transition: background 0.25s ease-in;
    -ms-transition: background 0.25s ease-in;
    -moz-transition: background 0.25s ease-in;
    -webkit-transition: background 0.25s ease-in;
    transition: background 0.25s ease-in;

    background: rgba(255,255,255,0.94);
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    margin: 1px auto 0 auto;
    overflow: auto;
    width: 70%;
}
.project:hover,
.project:focus {
    background: rgba(255,255,255,1);
}
@media (max-width: 960px) {
    .project {
        width: 90%;
    }
}
@media (max-width: 767px) { /* changes from 480 */
    .project {
        margin: 16px auto 0 auto;
    }
}
.total {
    font-size: 21px;
    margin-bottom: 16px;
}
.total p {
    padding: 16px 28px;
}
.total p span {
    font-weight: 700;
    float: right;
}

.info {
    overflow: auto;
    position: relative;
}
.description {
    background: rgba(61, 68, 80, 0.07);
    border-radius: 0 0 4px 4px;
    overflow: auto;
    padding: 0 24px;
}
.description p {
    font-size: 14px;
}
@media (max-width: 767px) {
    .description p {
        font-size: 18px;
        text-align: center;
    }
}

.projectid {
    float: left;
    font-size: 21px;
    width: 35%;
}
.projectid img {
    padding-top: 10px;
    margin: 28px 16px 38px 28px;
    vertical-align: middle;
    width: 48px;
}
.numbers {
    float: left;
    line-height: 1.2;
    overflow: hidden;
    width: 45%;
}
.marketcap,
.collected,
.balance {
    float: left;
    padding-top: 28px;
    width: 30%;
}

@media (max-width: 960px) {
    .projectid {
        width: 30%;
    }
    .numbers {
        width: 50%;
    }
}
@media (max-width: 767px) {
    .projectid {
        font-size: 32px;
        float: none;
        width: 100%;
        text-align: center;
    }
    .projectid img {
        display: block;
        margin: 16px auto;
        width: 64px;
    }
    .numbers {
        float: none;
        width: 100%;
    }
    .marketcap,
    .collected,
    .balance {
        float: none;
        font-size: 21px;
        text-align: center;
        width: 100%;
    }
}

.rating {
    border-radius: 4px 0 0 4px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    float: right;
    width: 16%;
    color: #fff;
    font-family: 'Nunito', sans serif;
    font-size: 12px;
    letter-spacing: 2px;
    margin-top: 30px;
    padding: 10px 14px;
    text-transform: uppercase;
}
.rating img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: middle;
}
@media (max-width: 767px) {
    .rating {
        float: none;
        border-radius: 0 0 4px 4px;
        width: 100%;
        margin-top: 21px;
        margin-left: -16px;
        text-align: center;
        font-size: 18px;
        padding: 18px 14px;
    }
    .rating img {
        margin-bottom: 4px;
    }
}


.certified {
    /* background: rgba(60, 176, 105, 1.0); */
    background: rgba(48, 157, 129, 1.0);
}
.verifying {
    /* background: rgba(251, 161, 83, 1.0); */
    /* background: rgba(220, 47, 63, 0.80); */
    background: rgba(49, 107, 174, 0.8);
}
.preico {
    background: rgba(61, 68, 80, 0.3);
}

#learn {
    display: none;

}
.learn-wrapper {
    background: rgba(38,43,51,0.6);
    color: #fff;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    text-align: center;
    width: 100%;
    z-index: 1111;
}
.learn-content {
    background: rgba(38,43,51,0.9);
    border-radius: 4px;
    margin: 2% auto 0 auto;
    padding: 32px 64px 64px 64px;
    /* overflow: auto; */
    text-align: left;
    width: 50%;
}
.learn-content h2 {
    text-align: center;
    margin-bottom: 32px;
}
.learn-content a {
    color: #309d81;
}
@media (max-width: 767px) {
    .learn-content {
        padding: 16px;
        width: 90%;
    }
}
.fa-close {
    padding: 16px;
    position: fixed;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

.footer {
    margin-top: 96px;
    padding-bottom: 24px;
    text-align: center;
}
.footer img {
    height: 61px;
    width: 113px;
}

.button,
.button:visited {
    -o-transition: background 0.25s ease-in;
    -ms-transition: background 0.25s ease-in;
    -moz-transition: background 0.25s ease-in;
    -webkit-transition: background 0.25s ease-in;
    transition: background 0.25s ease-in;

    background: rgba(0, 0, 24, 0.6);
    border: none;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    color: rgba(255,255,255,0.8);
    font-family: 'Nunito', sans serif;
    font-size: 13px;
    letter-spacing: 2px;
    padding: 13px 16px 11px 16px;
    text-decoration: none;
    text-transform: uppercase;
}
.button:hover {
    color: rgba(255,255,255,1);
    background: rgba(0, 0, 24, 1);
    text-decoration: none;
}
.button.home {
    display: inline-block;
    width: 180px;
    margin: 32px 8px;
}
@media (max-width: 480px) {
    .button {
        font-size: 11px;
    }
    .button.home {
        display: block;
        width: 150px;
        margin: 8px auto;
    }
}

form {
    padding: 24px 0;
    text-align: center;
}
input[type=password] {
    border: 1px solid #3d4450;
    border-radius: 4px;
    font-size: 18px;
    padding: 10px;
}